.buttonDark {
    background-color: #1A1423;
    color: #fcfffc;
    border: none;
    border-radius: 10%;
    margin: 0.5%;
}

.buttonDark:hover {
    background-color: #515A47;
    border: none;
}

.buttonDark:focus {
    background-color: #515A47;
    border: 2px solid #515A47;
}

.buttonLight {
    background-color: rgba(229,143,101,0.2);
    color: #1A1423;
    border: none;
    border-radius: 20px;
    margin: 3px;
    width: 130px;
    padding: 5px;
    text-align: center;
    font-size: small;
}

.buttonLight:hover {
    background-color: #fcfffc;
    color: #1A1423;
}