.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.MyMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.MyMasonryGridColumn {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.MyMasonryGridColumn > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}