.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.PostsContent {
  display: flex;
  flex-direction: row-reverse;
}

.Categories {
  border-bottom: 1.5px solid #515A47;
  border-top: 1.5px solid #515A47;
  min-width: 140px;
}

.Categories h1 {
  font-size: larger;
  text-align: center;
  margin: 10px 0;
  font: bold;
  color: #515A47;
}

.Catflex {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.MyMasonryGridColumn {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.MyMasonryGridColumn > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

@media screen and (max-width:768px) {
  .Catflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}