.CardLink {
  color: #471323;
}

.CardLink:hover {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.Container {
  position: relative;
}

.CardItems {
  padding: 10px;
}

.Likes {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Bubble {
  background-color: rgba(252, 255, 252, 0.7);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Heart {
  color: #E58F65;
  border-color: #471323;
}

.Heart:hover {
  color: #471323;
}

.HeartOutline:hover {
  color: #E58F65;
}

.Date {
  padding-right: 10px;
}