.App {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Main {
    padding-top: 120px;
    padding-bottom: 20px;
    flex: 1;
}

.Image {
    max-height: 350px;
    max-width: 100%;
    object-fit: cover;
}

input[type="file"] {
    display: none;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}